{% extends 'index.html'%}
{% block content %}
<h1 class="text-center">WebSite Pages</h1>
<div class="container">
    <div class="row my-3 justify-content-md-end">
        <button class="btn btn-success w-25 add_new_page">Add new page</button>
    </div>
    <div class="row my-3">
        <form class="d-flex w-25" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" name='search' aria-label="Search" value="{% if request.GET.search %}{{ request.GET.search }}{% endif %}">
          <button class="btn btn-outline-success page_search" type="submit">Search</button>
        </form>
    </div>
    {% if messages %}
        {% for message in messages %}
        {% if message %}
        <div
            class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}">
            <p class="{% if message.tags == 'error' %}text-danger{% endif %}">{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    <div class="row my-3 create_page_form_hidde d-none">
        <form class="border border-secondary p-3" method="POST">
            {% csrf_token %}
            <h3 class="text-center">New Page</h3>
            <div class="form-group">
                <label>New Page Name</label>
                <input type="text" class="form-control pagename" name="pagename">
            </div>
            <div class="form-group mt-4">
                <button class="btn btn-success btn_create_page">Create</button>
                <button class="btn btn-danger btn_create_cancel_page">Cancel</button>
            </div>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <th>No</th>
            <th>Pages name</th>
            <th>Actions</th>
        </thead>
        {% if pages %}
        <tbody>
            {% for page in pages %}
            <tr>
                <td>{{ forloop_start_index|add:forloop.counter }}</td>
                <td>{{page.page_name}}</td>
                <td>
                    <a href="{% url 'detailpage' page.id %}" class="btn btn-success">Detail</a>
                    {% if page.page_name != 'error' %}
                    <a href="{% url 'updatepage' page.id %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'deletepage' page.id %}" class="btn btn-danger delete_page_btn">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <tr>
            <td colspan="3"><p class="text-danger">No Data</p></td>
        </tr>
        {% endif %}
    </table>
    {% if pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <!-- Previous button -->
            {% if pages.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pages.previous_page_number }}" aria-label="Previous">
                        Previous
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}
        
            <!-- Ellipsis before current page -->
            {% if pages.number > 2 %}
                <li class="page-item disabled"><a class="page-link">...</a></li>
            {% endif %}
        
            <!-- Display pages around the current page -->
            {% for num in pages.paginator.page_range %}
                {% if num >= pages.number|add:-1 and num <= pages.number|add:1 %}
                    <li class="page-item {% if pages.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        
            <!-- Ellipsis after current page -->
            {% if pages.number < pages.paginator.num_pages|add:-1 %}
                <li class="page-item disabled"><a class="page-link">...</a></li>
            {% endif %}
        
            <!-- Next button -->
            {% if pages.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pages.next_page_number }}" aria-label="Next">
                        Next
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<script>
    $(document).ready(function(){
        $('button.add_new_page').click(function(){
            $('div.create_page_form_hidde').removeClass('d-none');
        });

        $('.btn_create_cancel_page').click(function(e){
            e.preventDefault();
            $('div.create_page_form_hidde').addClass('d-none');
        });
        $('.page_search').click(function(){
            $(this).parent('form').submit();
        });

        $('.btn_create_page').click(function(e){
            e.preventDefault();
            $('p.text-danger').remove()
            if($('input.pagename').val() ==''){
                $('input.pagename').after(`<p class='text-danger'>Please enter Page name</p>`)
            }else{
                $(this).parent('div').parent('form').submit()
            }
        });
    })
</script>
{% endblock %}